<!DOCTYPE html><html>
<html lang="pt-br">
<html>
    <head>

        <title>HOME</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style/home.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>

        <div class="container_head">
            <div class="Header">
                <img class="logo" src="../static/imagens/LOGO II.png">
                <p><h1>PORTFÓLIO</h1></p>
            </div>

            <div class="Navbar">
                <a href="/">INÍCIO</a>
                <a href="/projetos">PROJETOS</a>
                <a href="/curriculo">CURRÍCULO</a>
                <a href="/sobre">SOBRE MIM</a>
            </div>
        </div>

        <div class="row">
            <div class="card">
                <p><h1>BEM-VINDO (A)</h1></p>
                <div class="GIF1" style="height:300px; background-size:100% 100% 100% 100%;"></div>
            </div> 
        </div>

        <footer>
            <div class="footer">
            <font face="Open Sans" color="White">Email: leomachadosocial@gmail.com</font>
            <font face="Open Sans" color="White">| Contato: (48) 99830-0472</font>  
            </div>   
        </footer>
        
    </body>
</html>