{% extends 'home.html' %}

{% block title %}PROJETOS{% endblock %}

{% block head %}<link rel="stylesheet" type="text/css" href="../static/style/projetos.css">{% endblock %}

{% block row %}
    <div class="card">
        <h1>📌 PROJETOS </h1><br>
        <hr width="100%" align="center" color="Gray">
    </div>
    <div class="card_projeto">
        <div class="foto">
            <img class="imagens" src="../static/imagens/PROJETO IV.png">
        </div>
        <div class="descricao">
            <h3>[🚧] PROJETO DE API DSM - FATEC</h3>
            <p>O aumento do uso de ferramentas de correios eletrônicos para comunicação dentro das instituições cresceu de forma exponencial levando a diversos problemas de perda de informações. Com o intuito de resolver esse problema, a FATEC São José dos Campos propôs aos alunos do 1° semestre do curso de Desenvolvimento de Software Multiplataforma (DSM), o desenvolvimento de um portal de informações para o Corpo Docente, Discente e Administrativo da Fatec SJC capaz de exibir e gerar de forma seletiva e controlada os avisos gerais ou específicos de cada usuário, respeitando as respectivas hierarquias dentro da universidade com o intuíto de melhorar a comunicação interna da instituição.</p>
        </div>
    </div>
    <div class="card_projeto">
        <div class="foto">
            <img class="imagens" src="../static/imagens/PROJETO I.jpg">
        </div>
        <div class="descricao">
            <h3>[✨] PÁGINA DE CARNAVAL</h3>
            <p>O site foi feito para a ETEC de São José dos Campos, e teve como objetivo aprender mais sobre o HTML, fazendo um site sobre o carnaval de São Paulo, o carnaval do Rio de Janeiro e o carnaval da Bahia.</p>
        </div>
    </div>
    <div class="card_projeto">
        <div class="foto">
            <img class="imagens" src="../static/imagens/PROJETO II.jpg">
        </div>
        <div class="descricao">
            <h3>[🧮] PÁGINA DE E-COMMERCE</h3>
            <p>O site foi feito para a ETEC de São José dos Campos, e teve como objetivo aprender o básico de HTML, onde deveríamos fazer um site de E-Commerce com o que aprendemos.</p>
        </div>
    </div>
    <div class="card_projeto">
        <div class="foto">
            <img class="imagens" src="../static/imagens/PROJETO III.jpg">
        </div>
        <div class="descricao">
            <h3>[🎉] PÁGINA DE FESTA</h3>
            <p>O site foi feito para a ETEC de São José dos Campos, e teve como objetivo aprender a colocar gifs e fotos em um site.</p>
        </div>
    </div>
{% endblock %}