body{
    background-repeat: round;
    background-size: 3000px;
}

.text{
    padding-top: 5px;
}

.text h1{
    font-family: Arial;
    font-size: 30px;
    padding: 10px;
    font-weight: 700;
    margin-block-end: 0px;
}

.row{
    display: flex;
    flex-direction: column;
    --bs-gutter-x: 0rem;
}

.card{
    padding: 20px 1px 0px 1px;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.barra{
    width: 100%;
    background-color: gray;
    height: 2px;
}

.card_baixo{
    background-color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
	height: auto;
}

.imagens{
    width: 100%;
    height: 100%;
}

.btn a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn a:visited{
    color: white;
  }

.btn a:hover{
    color: black;
}

@media screen and (max-width: 600px) {
    
    .card h1{
        font-size: medium;
    }

    .card_baixo{
        padding: 5px 0px 5px 0px;
    }
}