body{
    font-family: Arial;
    padding: 10px;
    background-image:url(../imagens/WALL\ II.jpg);
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Container Head*/
.container{
    display: flex;
    margin: 20px;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
}

/*Estilo do Cabeçalho*/
.Header{
    padding: 5px;
    background: white;
    display: flex;
    flex-direction: row;
}

.logo{
    display: flex;
    height: 80px;
    margin-left: 10px;
    margin-top: 8px;
}

/*Estilo do Título*/
.Header h1{
    font-size: 30px;
    padding: 10px;
    padding-top: 11px;
}

/*Fundo do Navbar*/
.Navbar{
    background-color: #333;
    display: flex;
}

/*Estilo dos Menus (A)*/
.Navbar a{
    color: #f2f2f2;
    text-align: center;
    font-size: 14px;
    padding: 13px 15px;
    text-decoration: none;
}

/*Ficar branco quando passar o mouse*/
.Navbar a:hover{
    background-color: #ddd;
    color: black;
}

.GIF1{
    background-image:url(../imagens/GIF\ VI.gif);
	background-repeat:no-repeat;
    background-size: 100% 100%;
    padding: 20px;
}

.card{
    background-color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
	height: 40%
}

footer{
    flex-direction: row;
    justify-content: center;
    display: flex;
    padding: 20px;
    text-align: center;
    background: black;
    margin-top: 20px;
}

/* Responsivo*/
@media screen and (max-width: 600px) {
    
    .Navbar{
        flex-direction: column;
    }
}

@media screen and (max-width: 345px) {
    
    .logo{
        width: 0%;
        height: 0%;
        margin: 0px;
    }

    .Header{
        justify-content: center;
    }
}

@media screen and (min-height: 1081px) {

    body{
        background-repeat: round;
    }

    .container_head{
        height: 70%;
    }

    .Header{
        height: 200px;
    }

    .Header h1{
        font-size: 90px;
        padding-top: 0px;
        padding-left: 10px;
    }

    .logo{
        height: 200px;
    }

    .Navbar{
        justify-content: space-around;
    }

    .Navbar a{
        font-size: 30px;
        margin: 10px; 
    }

    .card h1{
        font-size: 50px;
    }

    .footer{
        bottom: 0px;
    }
}