body {
    font-family: Arial;
    padding: 10px;
    background-image:url(../imagens/WALL\ II.jpg);
    background-repeat:no-repeat;
}

/*Estilo do Cabeçalho*/
.Header {
    overflow: hidden;
    padding: 5px;
    background: white;
    display: flex;
    flex-direction: row;
}

.logo{
    display: flex;
    height: 80px;
    margin-left: 10px;
    margin-top: 8px;
}

/*Estilo do Título*/
.Header h1 {
    font-size: 30px;
    padding: 10px;
}

/*Fundo do Navbar*/
.Navbar {
    overflow: hidden;
    background-color: #333;
}

/*Estilo dos Menus (A)*/
.Navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-size: 14px;
    padding: 13px 15px;
    text-decoration: none;
}

/*Ficar branco quando passar o mouse*/
.Navbar a:hover {
    background-color: #ddd;
    color: black;
}

.GIF1 {
    background-image:url(../imagens/GIF\ VI.gif);
	background-repeat:no-repeat;
    background-size: 100% 100%;
    padding: 20px;
}

.card {
    background-color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
	height: 40%
}

.row:after {	
    content: "";
    display: table;
    clear: both;
}

/* Responsivo*/
@media screen and (max-width: 400px) {
    .Navbar a {
        float: none;
        width: 100%;
    }
}

/* Responsivo */
@media screen and (max-width: 800px) {
    .column {   
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 800px) {
    .row {   
        width: 100%;
        height: 10%;
        padding: 20px;
    }
}

/* Responsivo */
@media screen and (max-width: 800px) {
    .card {   
        width: 100%;
        height: 10%;
        padding: 20px;
    }
}

footer {
    padding: 20px;
    text-align: center;
    background: black;
    margin-top: 20px;
}

.footer a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-size: 14px;
    padding: 13px 15px;
    text-decoration: none;
}