body{
    background-repeat: round;
}

.card{
    padding: 20px 1px 0px 1px;
}

.card_projeto{
    background-color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
	height: 200px;
    display: flex;
    flex-direction: row;
}

.foto{
    height: 200px;
    width: 400px;
    margin-right: 20px;
}

.imagens{
    width: 100%;
    height: 100%;
}

.h3{
    margin: 0px;
    padding: 0px;
}

.descricao{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 200px;
    width: 80%;
}

/* Responsivo*/
@media screen and (max-width: 1920px) {
    
    .foto{
        height: 300px;
        width: auto;
    }

    .card_projeto{
        height: auto;
    }
}

@media screen and (max-width: 1400px) {
    
    .descricao p{
        overflow: overlay;
        padding-right: 25px;
    }
}

@media screen and (max-width: 800px) {
    
    .card_projeto{
        flex-direction: column;
        height: 500px;
    }

    .foto{
        height: 300px;
        width: 100%;
        margin-bottom: 5px;
    }

    .descricao{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    
    .card_projeto{
        height: 450px;
    }
}

@media screen and (max-width: 400px) {
    
    .card_projeto{
        height: 400px;
    }
}

@media screen and (max-width: 350px) {
    
    .card_projeto{
        height: 350px;
    }
}