<!DOCTYPE html><html>
<html lang="pt-br">
<html>
    <head>

        <title>CURRÍCULO</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style/home.css">
        <link rel="stylesheet" type="text/css" href="../static/style/curriculo.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>

        <div class="container_head">
            <div class="Header">
                <img class="logo" src="../static/imagens/LOGO II.png">
                <p><h1>PORTFÓLIO</h1></p>
            </div>

            <div class="Navbar">
                <a href="home.html">INÍCIO</a>
                <a href="projetos.html">PROJETOS</a>
                <a href="curriculo.html">CURRÍCULO</a>
                <a href="sobre.html">SOBRE MIM</a>
            </div>
        </div>

        <div class="row">
            <div class="card">
                <h1>📰 MEU CURRÍCULO</h1><br>
                <div class="barra"></div>
            </div>
            <div class="card_baixo">
                <img class="imagens" src="../static/imagens/Currículo.jpg">
            </div>
        </div>

        <footer>
            <div class="footer">
            <font face="Open Sans" color="White">Email: leomachadosocial@gmail.com</font>
            <font face="Open Sans" color="White">| Contato: (48) 99830-0472</font>
            <button class="btn1"><a href="../static/download/Currículo.doc" download="Currículo.doc">BAIXE MEU CURRÍCULO AQUI !!!</a></button>  
            </div>   
        </footer>
        
    </body>
</html>