<!DOCTYPE html><html>
<html lang="pt-br">
<html>
    <head>

        <title>PORTIFÓLIO</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style/index.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>

        <div class="Header">
            <img class="logo" src="../static/imagens/LOGO II.png">
            <p><h1>- PORTIFÓLIO</h1></p>
        </div>

        <div class="Navbar">
            <a href="index.html">INÍCIO</a>
            <a href="projetos.html">PROJETOS</a>
            <a href="curriculo.html">CURRÍCULO</a>
            <a href="sobre.html">SOBRE MIM</a>
        </div>

        <div class="row">
                <div class="card">
                <p><h1>BEM-VINDO (A)</h1></p>
                <p>AO MEU PORTIFÓLIO</p>
                <div class="GIF1" style="height:279px; background-size:100% 100% 100% 100%;"><font face="Open Sans" color="White"></font></div>
                </div> 
        </div>

        <footer>
            <div>
            <font face="Open Sans" color="White">| Email: leomachadosocial@gmail.com | Contato: (48) 99830-0472 |</font> 
            </div>   
        </footer>
        
    </body>
</html>