<!DOCTYPE html><html>
<html lang="pt-br">
<html>
    <head>

        <title>PROJETOS</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style/index.css">
        <link rel="stylesheet" type="text/css" href="../static/style/projetos.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>

        <div class="Header">
            <img class="logo" src="../static/imagens/LOGO II.png">
            <p><h1>- PORTFÓLIO</h1></p>
        </div>

        <div class="Navbar">
            <a href="index.html">INÍCIO</a>
            <a href="projetos.html">PROJETOS</a>
            <a href="curriculo.html">CURRÍCULO</a>
            <a href="sobre.html">SOBRE MIM</a>
        </div>

        <div class="row">
            <div class="column">
                <div class="card">
                    <h1 class="Meio">📌 PROJETOS </h1><br>
                    <hr width="100%" align="center" color="Gray">
                    <h4><a href="https://bit.ly/3EAYgWG">[🚧] PROJETO DE API DSM - FATEC: </a></h4>
                    <p>O aumento do uso de ferramentas de correios eletrônicos para comunicação dentro das instituições cresceu de forma exponencial levando a diversos problemas de perda de informações. Com o intuito de resolver esse problema, a FATEC São José dos Campos propôs aos alunos do 1° semestre do curso de Desenvolvimento de Software Multiplataforma (DSM), o desenvolvimento de um portal de informações para o Corpo Docente, Discente e Administrativo da Fatec SJC capaz de exibir e gerar de forma seletiva e controlada os avisos gerais ou específicos de cada usuário, respeitando as respectivas hierarquias dentro da universidade com o intuíto de melhorar a comunicação interna da instituição.</p>
                    <div class="Projeto1" style="height:550px; background-size:100% 100% 100% 100%;"><font face="Open Sans" color="White"></font></div><br>
                </div>
                <div class="card">
                    <h4><a href="Projetos/Carnaval/index.html">[✨] SITE DE CARNAVAL: </a></h4>
                    <p>O site foi feito para a ETEC de São José dos Campos, e teve como objetivo aprender mais sobre o HTML, fazendo um site sobre o carnaval de São Paulo, o carnaval do Rio de Janeiro e o carnaval da Bahia.</p>
                    <div class="Projeto4" style="height:550px; background-size:100% 100% 100% 100%;"><font face="Open Sans" color="White"></font></div><br>
                </div>
                <div class="card">    
                    <h4><a href="Projetos/E-Commerce/Site.html">[🧮] SITE DE E-COMMERCE: </a></h4>
                    <p>O site foi feito para a ETEC de São José dos Campos, e teve como objetivo aprender o básico de HTML, onde de veríamos fazer um site de E-Commerce com o que aprendemos.</p>
                    <div class="Projeto2" style="height:550px; background-size:100% 100% 100% 100%;"><font face="Open Sans" color="White"></font></div><br>
                </div>
                <div class="card">   
                    <h4><a href="Projetos/Festa Home/Site.html">[🎉] SITE DE FESTA: </a></h4>
                    <p>O site foi feito para a ETEC de São José dos Campos, e teve como objetivo aprender a colocar gifs e fotos em um site.</p>
                    <div class="Projeto3" style="height:550px; background-size:100% 100% 100% 100%;"><font face="Open Sans" color="White"></font></div><br>
                </div> 
            </div>
        </div>
        
        <footer>
            <font face="Open Sans" color="White">| Email: leomachadosocial@gmail.com | Contato: (48) 99830-0472 |</font>  
        </footer>
        
    </body>
</html>