<!DOCTYPE html><html>
<html lang="pt-br">
<html>
    <head>

        <title>SOBRE MIM</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style/index.css">
        <link rel="stylesheet" type="text/css" href="../static/style/sobre.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>

        <div class="Header">
            <img class="logo" src="../static/imagens/LOGO II.png">
            <p><h1>- PORTIFÓLIO</h1></p>
        </div>

        <div class="Navbar">
            <a href="index.html">INÍCIO</a>
            <a href="projetos.html">PROJETOS</a>
            <a href="curriculo.html">CURRÍCULO</a>
            <a href="sobre.html">SOBRE MIM</a>
        </div>

        <div class="row">
            <div class="leftcolumn">
                <div class="card">
                <h2>📌 SOBRE MIM</h2>
                <p>Meu nome é Leonardo tenho 18 anos, nasci em Araranguá, Santa Catarina, no dia 28 de outubro de 2002. Sempre me interessei por tecnologia, sempre gostei de mexer/fuçar em celulares e computadores, então após me formar no Ensino Médio, decidi seguir minha vida acadêmica voltada a programação. Sou uma pessoa calma e reservada, sei quando devo ser sério e quando devo me divertir, sempre cumpro meus prazos, pois sei manejar meu tempo, ouço muito mais as pessoas, porém quando acho necessário expresso minha opinião.  </p>
                <h4>📚 ATUALMENTE CURSANDO:</h4>
                <p>
                    ETEC - Análise e Desenvolvimento de Sistemas 2/3<br>
                    UNIP - Análise e Desenvolvimento de Sistemas 4/4<br>
                    FATEC - Desenvolvimento de Software Mutiplataforma 1/6
                </p>
                </div>
                <div class="card">
                    <h2>MEUS HOBBIES</h2>
                    <h4>[🖥] TECNOLOGIA:</h4>
                    <p>Gosto de estar por dentro das novas tecnologias, principalmente o que se refere a novos hardwares de desktop, como placas de vídeo, processadores, memórias, entre outros.</p>
                    <div class="Hobbie1" style="height:300px; background-size:100% 100% 100% 100%;"><font face="Open Sans" color="White"></font></div>
                    <h4>[🚘] TUNING:</h4>
                    <p>Gosto de tudo que envolva carros e motos, como tuning, reformas, projetos diferenciados, corridas e programas.</p>
                    <div class="Hobbie2" style="height:400px; background-size:100% 100% 100% 100%;"><font face="Open Sans" color="White"></font></div><br>
                    <div class="GIF3" style="height:300px; background-size:100% 100% 100% 100%;"><font face="Open Sans" color="White"></font></div>
                    <h4>[🎮] GAMES:</h4>
                    <p>Gosto bastante de jogos, sempre estou por dentro de lançamentos e atualizações, costumo jogar nas horas vagas.</p>
                    <div class="Hobbie3" style="height:400px; background-size:100% 100% 100% 100%;"><font face="Open Sans" color="White"></font></div>
                </div>
            </div>
            <div class="rightcolumn">
                <div class="card">
                    <h2></h2>
                    <div class="Perfil" style="height:300px; background-size:100% 100% 100% 100%;"><font face="Open Sans" color="White"></font></div>
                    <h5>👨‍🎓 => LEONARDO QUEIRÓZ MACHADO</h5>
                </div>
                <div class="card">
                    <h3>LINKS</h3>
                    <p>📍 GitHub: <a href="https://github.com/Lrd-M">https://github.com/Lrd-M</a></p>
                </div>
                <div class="card">
                    <h4>[🎨] SÉRIES / ANIMES / MANGÁS:</h4>
                    <p>Nas horas vagas, eu também gosto de assistir séries, animes, ou ler um mangá, estou sempre por dentro da maioria dos lançamentos ou conteúdos que estejam no hype no momento.</p>
                    <div class="GIF1" style="height:500px; background-size:100% 100% 100% 100%;"><font face="Open Sans" color="White"></font></div><br>
                    <div class="GIF2" style="height:400px; background-size:100% 100% 100% 100%;"><font face="Open Sans" color="White"></font></div><br>
                    <div class="Hobbie4" style="height:410px; background-size:100% 100% 100% 100%;"><font face="Open Sans" color="White"></font></div>
                </div>
            </div>
        </div>
        
        <footer>
            <div>
            <font face="Open Sans" color="White">| Email: leomachadosocial@gmail.com | Contato: (48) 99830-0472 |</font> 
            </div>   
        </footer>

    </body>
</html>